form {
    max-width: 600px;
    margin: 0 auto;
  
    label {
      display: block;
      margin-bottom: 10px;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }
  
    button[type="submit"] {
      background-color: var(--primary-color);
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
    }
  }
  